In [129]:
import pandas as pd
import numpy as np

### get the surgery info- this trashes the scaling so remove if you want a prettier pic
df_surg=pd.read_csv('RM_surgeries.csv')
#print (df_surg)
cols=['mrn','order_start_dttm']
df_surg=df_surg[cols]
df_surg.columns=['mrn','enc_date']
df_surg['is_RM']=0
print (df_surg)

         mrn  enc_date  is_RM
0     654028   6/13/07      0
1     654028   12/1/15      0
2     788213   10/6/07      0
3     788213   10/6/07      0
4     788213    2/6/09      0
..       ...       ...    ...
97   3259252   8/29/17      0
98   3261049  12/17/12      0
99   3288379   10/1/12      0
100  3301890  12/10/12      0
101  3301890    9/9/13      0

[102 rows x 3 columns]

In [130]:
df_rad=pd.read_csv('RM_radiation_cycles.csv')
df_rad['start']=pd.to_datetime(df_rad['start'])
df_rad['end']=pd.to_datetime(df_rad['end'])
#print (df_rad)
diffs=[]
for index,row in df_rad.iterrows():
    diff=row['end']-row['start']
    diffs.append(diff.days)
df_rad['diff']=diffs

df_rad=df_rad[df_rad['diff']>30]
print (df_rad['diff'].describe())
#print(df_rad)
df_rad=df_rad[['mrn','end']]
df_rad.columns=['mrn','enc_date']
df_rad['is_RM']=0
print (df_rad)

count     93.000000
mean      59.849462
std       90.382875
min       31.000000
25%       32.000000
50%       35.000000
75%       60.000000
max      794.000000
Name: diff, dtype: float64
         mrn   enc_date  is_RM
0    3260592 2012-08-16      0
6    3276187 2012-09-21      0
8    3148181 2012-09-10      0
9    3272590 2012-10-26      0
10   3232866 2012-10-23      0
..       ...        ...    ...
114  3659799 2018-07-27      0
115  3767186 2018-08-17      0
116  3769590 2018-08-31      0
117  3108147 2018-08-31      0
118  3793494 2018-11-30      0

[93 rows x 3 columns]

In [131]:
file='RM_MCs.csv'
df=pd.read_csv(file)
df.columns=['enc_date','mrn','is_RM']
df=df[['mrn','enc_date','is_RM']]
#print (df)

df=df[df['is_RM']==1]
print(df)

df=df.append(df_surg)
df=df.append(df_rad)
df['enc_date']=pd.to_datetime(df['enc_date'])
df=df.sort_values(by='enc_date')
print (df.shape[0])

          mrn    enc_date  is_RM
37    2050963  2014-10-01      1
38    2050963  2014-10-16      1
39    2050963  2015-01-14      1
40    2050963  2015-01-15      1
41    2050963  2015-01-30      1
...       ...         ...    ...
7392  3715744  2018-08-17      1
7393  3715744  2018-08-24      1
7394  3715744  2018-08-31      1
7395  3715744  2018-09-07      1
7396  3715744  2018-09-14      1

[5427 rows x 3 columns]
5622

In [132]:
mrns=df.mrn.unique()
ptx_info=[]
for mrn in mrns:
    sub_df=df[df['mrn']==mrn]
    ptx_info.append(sub_df)
    
good_mrns=[]
for ptx in ptx_info:
    if 0 in ptx['is_RM'].unique() and 1 in ptx['is_RM'].unique():
        good_mrns.append(ptx.iloc[0]['mrn'])

print (good_mrns)

df=df[df['mrn'].isin(good_mrns)]
mrns=df.mrn.unique()
ptx_info=[]
for mrn in mrns:
    sub_df=df[df['mrn']==mrn]
    ptx_info.append(sub_df)
for ptx in ptx_info:
    print (ptx)

[2460803, 2714226, 2209904, 2840501, 1566343, 2849915, 1420705, 3054505, 3439308, 2933746, 3105416, 3028615, 3148181, 3085711, 1504532, 3259252, 3272590, 3260592, 2573707, 3288379, 3232866, 3276187, 3279359, 3301890, 3261049, 3307560, 3309751, 3361810, 3382952, 3375948, 2743967, 2050963, 3418273, 3444300, 3448959, 3421057, 3447609, 3142993, 3324677, 3327545, 3453332, 852008, 3480615, 3497403, 2910738, 3546446, 3503434, 3497326, 3317572, 3503535, 3503678, 3507074, 3519179, 3511774, 3513634, 3521040, 3506201, 3567685, 3151830, 3542051, 2929012, 3522111, 3539092, 3546090, 3557231, 3580291, 3667934, 3581974, 1390547, 3581525, 3555469, 3727559, 3713835, 3724219, 3735514, 3659799, 3108147, 3767186, 3749634, 3793494, 3755407, 3769590]
        mrn   enc_date  is_RM
64  2460803 1999-04-01      1
63  2460803 1999-04-01      1
66  2460803 2000-03-01      1
65  2460803 2000-03-01      1
67  2460803 2000-09-01      1
68  2460803 2013-12-01      1
69  2460803 2014-06-03      1
70  2460803 2014-06-09      1
21  2460803 2014-06-23      0
71  2460803 2014-06-26      1
72  2460803 2014-07-17      1
73  2460803 2014-07-18      1
         mrn   enc_date  is_RM
76   2714226 2000-02-01      1
77   2714226 2000-07-01      1
78   2714226 2000-09-01      1
79   2714226 2001-03-01      1
80   2714226 2001-05-01      1
81   2714226 2002-09-01      1
82   2714226 2003-08-01      1
83   2714226 2003-10-01      1
84   2714226 2003-10-01      1
85   2714226 2007-02-01      1
32   2714226 2007-02-21      0
33   2714226 2007-04-23      0
86   2714226 2007-05-01      1
87   2714226 2007-05-01      1
88   2714226 2009-08-01      1
34   2714226 2009-08-12      0
35   2714226 2012-11-12      0
89   2714226 2012-12-03      1
90   2714226 2012-12-24      1
91   2714226 2012-12-26      1
92   2714226 2012-12-27      1
93   2714226 2012-12-28      1
94   2714226 2013-01-08      1
95   2714226 2013-01-09      1
96   2714226 2013-01-10      1
97   2714226 2013-01-11      1
98   2714226 2013-01-22      1
99   2714226 2013-01-23      1
100  2714226 2013-01-24      1
101  2714226 2013-01-25      1
102  2714226 2013-02-05      1
103  2714226 2013-02-06      1
104  2714226 2013-02-07      1
105  2714226 2013-02-08      1
106  2714226 2013-02-15      1
107  2714226 2013-02-19      1
108  2714226 2013-02-20      1
109  2714226 2013-02-21      1
110  2714226 2013-02-22      1
111  2714226 2013-02-22      1
17   2714226 2013-02-22      0
112  2714226 2013-02-25      1
113  2714226 2013-03-11      1
114  2714226 2013-03-25      1
115  2714226 2013-04-12      1
116  2714226 2013-06-14      1
         mrn   enc_date  is_RM
117  2209904 2000-09-08      1
119  2209904 2009-11-25      1
118  2209904 2009-11-25      1
120  2209904 2012-07-10      1
121  2209904 2012-10-09      1
122  2209904 2013-02-05      1
123  2209904 2013-05-28      1
125  2209904 2013-08-01      1
124  2209904 2013-08-01      1
126  2209904 2013-08-30      1
127  2209904 2014-01-06      1
128  2209904 2014-01-27      1
129  2209904 2014-06-24      1
130  2209904 2015-01-19      1
131  2209904 2015-09-24      1
132  2209904 2016-03-23      1
133  2209904 2016-04-28      1
134  2209904 2016-06-20      1
135  2209904 2016-07-13      1
136  2209904 2016-07-13      1
137  2209904 2016-07-20      1
138  2209904 2016-07-21      1
140  2209904 2016-07-27      1
139  2209904 2016-07-27      1
141  2209904 2016-07-27      1
142  2209904 2016-08-05      1
143  2209904 2016-08-19      1
144  2209904 2016-09-23      1
145  2209904 2016-09-30      1
146  2209904 2016-10-05      1
147  2209904 2016-11-10      1
90   2209904 2016-11-11      0
148  2209904 2016-11-11      1
149  2209904 2016-11-11      1
150  2209904 2016-12-14      1
151  2209904 2016-12-15      1
152  2209904 2017-01-12      1
153  2209904 2017-02-14      1
154  2209904 2017-09-26      1
155  2209904 2017-09-28      1
156  2209904 2018-04-17      1
157  2209904 2018-06-18      1
          mrn   enc_date  is_RM
42    2840501 2003-11-01      0
4209  2840501 2014-11-12      1
4210  2840501 2014-11-17      1
4211  2840501 2014-12-12      1
4212  2840501 2014-12-17      1
4213  2840501 2014-12-29      1
4214  2840501 2015-01-13      1
4215  2840501 2015-01-21      1
4216  2840501 2015-02-03      1
4217  2840501 2015-02-03      1
4218  2840501 2015-03-04      1
4219  2840501 2015-03-18      1
4220  2840501 2015-03-24      1
4221  2840501 2015-04-07      1
4222  2840501 2015-04-14      1
4223  2840501 2015-04-21      1
4224  2840501 2015-05-01      1
4225  2840501 2015-05-04      1
4227  2840501 2015-05-08      1
4226  2840501 2015-05-08      1
4228  2840501 2015-05-21      1
4229  2840501 2015-05-22      1
4230  2840501 2015-06-01      1
4231  2840501 2015-06-12      1
4232  2840501 2015-06-19      1
4233  2840501 2015-07-22      1
4234  2840501 2015-09-01      1
4235  2840501 2015-09-25      1
4236  2840501 2015-12-01      1
4237  2840501 2015-12-28      1
4238  2840501 2016-01-21      1
4239  2840501 2016-01-27      1
4240  2840501 2016-02-16      1
4241  2840501 2016-04-06      1
          mrn   enc_date  is_RM
14    1566343 2005-12-29      0
15    1566343 2006-01-25      0
2776  1566343 2012-08-11      1
2777  1566343 2012-08-27      1
2778  1566343 2012-09-03      1
2779  1566343 2012-10-09      1
2780  1566343 2012-10-15      1
2781  1566343 2012-11-26      1
2782  1566343 2012-12-03      1
2783  1566343 2012-12-06      1
2784  1566343 2012-12-19      1
2785  1566343 2013-01-28      1
2786  1566343 2013-02-11      1
2787  1566343 2013-02-26      1
2788  1566343 2013-03-11      1
2789  1566343 2013-05-06      1
2790  1566343 2013-06-17      1
2791  1566343 2013-07-08      1
2792  1566343 2013-07-23      1
2793  1566343 2013-07-29      1
2794  1566343 2013-09-11      1
2795  1566343 2013-09-23      1
2796  1566343 2013-11-03      1
2797  1566343 2013-11-19      1
         mrn   enc_date  is_RM
318  2849915 2007-01-01      1
43   2849915 2007-01-02      0
319  2849915 2007-07-01      1
320  2849915 2012-10-23      1
321  2849915 2013-10-15      1
322  2849915 2014-11-05      1
          mrn   enc_date  is_RM
12    1420705 2007-03-26      0
1468  1420705 2009-10-28      1
1469  1420705 2009-11-01      1
1470  1420705 2010-02-01      1
1471  1420705 2011-05-01      1
1472  1420705 2011-09-01      1
1473  1420705 2011-10-01      1
1474  1420705 2012-01-01      1
1475  1420705 2012-01-12      1
1476  1420705 2012-02-24      1
1477  1420705 2012-03-01      1
1478  1420705 2012-06-07      1
         mrn   enc_date  is_RM
82   3054505 2008-12-31      0
83   3054505 2010-07-07      0
84   3054505 2010-07-07      0
456  3054505 2012-08-21      1
457  3054505 2013-02-25      1
85   3054505 2013-02-27      0
458  3054505 2013-09-12      1
459  3054505 2013-09-13      1
460  3054505 2014-07-18      1
461  3054505 2015-11-03      1
          mrn   enc_date  is_RM
1340  3439308 2009-06-01      1
1339  3439308 2009-06-01      1
1341  3439308 2009-10-01      1
1342  3439308 2009-10-12      1
1343  3439308 2014-12-16      1
1345  3439308 2014-12-30      1
1344  3439308 2014-12-30      1
1346  3439308 2015-01-06      1
1351  3439308 2015-01-09      1
1349  3439308 2015-01-09      1
1348  3439308 2015-01-09      1
1350  3439308 2015-01-09      1
1347  3439308 2015-01-09      1
1352  3439308 2015-01-11      1
1353  3439308 2015-01-16      1
1354  3439308 2015-01-19      1
1355  3439308 2015-01-26      1
1356  3439308 2015-02-02      1
1357  3439308 2015-02-10      1
1358  3439308 2015-02-10      1
1359  3439308 2015-02-12      1
1360  3439308 2015-02-25      1
1361  3439308 2015-02-25      1
1362  3439308 2015-03-16      1
1363  3439308 2015-03-31      1
1364  3439308 2015-04-01      1
1365  3439308 2015-04-02      1
1366  3439308 2015-04-03      1
1367  3439308 2015-04-08      1
1368  3439308 2015-04-14      1
1369  3439308 2015-04-15      1
1370  3439308 2015-04-16      1
1371  3439308 2015-04-17      1
1372  3439308 2015-04-22      1
1373  3439308 2015-04-28      1
1374  3439308 2015-04-29      1
1375  3439308 2015-04-30      1
1376  3439308 2015-05-01      1
1377  3439308 2015-05-04      1
1378  3439308 2015-05-12      1
1379  3439308 2015-05-13      1
1380  3439308 2015-05-14      1
1384  3439308 2015-05-15      1
1383  3439308 2015-05-15      1
1382  3439308 2015-05-15      1
1381  3439308 2015-05-15      1
47    3439308 2015-05-15      0
1385  3439308 2015-05-21      1
1386  3439308 2015-05-26      1
1387  3439308 2015-06-04      1
1388  3439308 2015-06-08      1
1389  3439308 2015-06-19      1
1390  3439308 2015-06-23      1
1391  3439308 2015-06-30      1
1392  3439308 2015-12-08      1
1393  3439308 2016-04-19      1
1394  3439308 2016-10-21      1
1395  3439308 2017-04-21      1
1396  3439308 2017-07-01      1
1397  3439308 2017-09-27      1
         mrn   enc_date  is_RM
325  2933746 2009-06-17      1
326  2933746 2011-10-01      1
327  2933746 2011-11-01      1
329  2933746 2012-01-01      1
328  2933746 2012-01-01      1
330  2933746 2012-11-07      1
331  2933746 2013-06-05      1
333  2933746 2013-12-01      1
332  2933746 2013-12-01      1
334  2933746 2013-12-04      1
335  2933746 2014-01-11      1
336  2933746 2014-01-31      1
337  2933746 2014-02-28      1
338  2933746 2014-03-01      1
339  2933746 2014-03-23      1
340  2933746 2014-03-25      1
341  2933746 2014-03-26      1
342  2933746 2014-03-27      1
343  2933746 2014-03-28      1
344  2933746 2014-03-28      1
345  2933746 2014-04-13      1
346  2933746 2014-04-15      1
347  2933746 2014-04-16      1
348  2933746 2014-04-17      1
349  2933746 2014-04-18      1
350  2933746 2014-04-18      1
351  2933746 2014-04-23      1
352  2933746 2014-04-29      1
353  2933746 2014-04-30      1
355  2933746 2014-05-01      1
354  2933746 2014-05-01      1
356  2933746 2014-05-11      1
357  2933746 2014-05-12      1
358  2933746 2014-05-13      1
359  2933746 2014-05-14      1
360  2933746 2014-05-15      1
361  2933746 2014-05-27      1
362  2933746 2014-05-28      1
363  2933746 2014-05-29      1
29   2933746 2014-05-30      0
364  2933746 2014-05-30      1
365  2933746 2014-10-08      1
366  2933746 2014-10-10      1
          mrn   enc_date  is_RM
1523  3105416 2010-02-01      1
1521  3105416 2010-02-01      1
1522  3105416 2010-02-01      1
1520  3105416 2010-02-01      1
1525  3105416 2010-02-23      1
1524  3105416 2010-02-23      1
1526  3105416 2012-11-01      1
1527  3105416 2012-11-25      1
1528  3105416 2012-12-05      1
1529  3105416 2012-12-05      1
1530  3105416 2013-01-08      1
1531  3105416 2013-01-20      1
1532  3105416 2013-01-22      1
1533  3105416 2013-01-23      1
1534  3105416 2013-01-24      1
1535  3105416 2013-01-25      1
1536  3105416 2013-01-25      1
1537  3105416 2013-02-04      1
1538  3105416 2013-02-05      1
1539  3105416 2013-02-06      1
1540  3105416 2013-02-07      1
1541  3105416 2013-02-08      1
1542  3105416 2013-02-19      1
1543  3105416 2013-02-20      1
1544  3105416 2013-02-21      1
1545  3105416 2013-02-22      1
1546  3105416 2013-02-26      1
1547  3105416 2013-03-05      1
1548  3105416 2013-03-06      1
1549  3105416 2013-03-07      1
1550  3105416 2013-03-08      1
18    3105416 2013-03-12      0
1553  3105416 2013-03-13      1
1552  3105416 2013-03-13      1
1551  3105416 2013-03-13      1
1555  3105416 2013-03-13      1
1554  3105416 2013-03-13      1
1556  3105416 2013-04-12      1
1557  3105416 2013-07-01      1
1558  3105416 2013-10-08      1
1560  3105416 2014-03-01      1
1559  3105416 2014-03-01      1
1561  3105416 2014-03-04      1
1562  3105416 2014-04-29      1
1563  3105416 2014-06-17      1
1564  3105416 2014-07-01      1
1565  3105416 2014-07-11      1
1566  3105416 2014-07-31      1
1567  3105416 2014-08-21      1
1569  3105416 2014-09-09      1
1568  3105416 2014-09-09      1
1570  3105416 2014-09-29      1
1571  3105416 2014-10-23      1
1572  3105416 2014-10-27      1
1573  3105416 2014-12-29      1
1574  3105416 2019-12-23      1
          mrn   enc_date  is_RM
52    3028615 2010-03-03      0
53    3028615 2010-04-07      0
54    3028615 2011-07-06      0
55    3028615 2011-08-24      0
56    3028615 2012-02-08      0
57    3028615 2012-11-08      0
58    3028615 2013-04-17      0
59    3028615 2013-05-22      0
3863  3028615 2013-07-26      1
60    3028615 2014-04-02      0
61    3028615 2016-11-17      0
3864  3028615 2016-11-17      1
3865  3028615 2017-05-09      1
3866  3028615 2017-06-09      1
62    3028615 2017-07-03      0
3867  3028615 2017-07-03      1
3868  3028615 2017-07-03      1
3869  3028615 2017-07-03      1
3870  3028615 2017-08-25      1
63    3028615 2017-08-28      0
3872  3028615 2017-08-31      1
3871  3028615 2017-08-31      1
3873  3028615 2017-09-25      1
3874  3028615 2017-09-25      1
3875  3028615 2017-09-25      1
3876  3028615 2017-10-17      1
3877  3028615 2017-11-06      1
3878  3028615 2017-11-28      1
3879  3028615 2018-01-08      1
3880  3028615 2018-01-30      1
3881  3028615 2018-02-20      1
3882  3028615 2018-02-26      1
3883  3028615 2018-04-03      1
3884  3028615 2018-04-24      1
3885  3028615 2018-05-04      1
3886  3028615 2018-05-15      1
3887  3028615 2018-06-05      1
3888  3028615 2018-06-13      1
3889  3028615 2018-07-19      1
3890  3028615 2018-08-14      1
3893  3028615 2018-09-10      1
3891  3028615 2018-09-10      1
3892  3028615 2018-09-10      1
3894  3028615 2018-09-10      1
3895  3028615 2018-09-18      1
3896  3028615 2018-09-25      1
3897  3028615 2018-10-09      1
3898  3028615 2018-10-30      1
3899  3028615 2018-12-11      1
3900  3028615 2019-01-02      1
64    3028615 2019-02-04      0
65    3028615 2019-05-20      0
          mrn   enc_date  is_RM
1811  3148181 2010-11-05      1
1813  3148181 2011-01-18      1
1812  3148181 2011-01-18      1
1814  3148181 2011-12-13      1
1815  3148181 2011-12-13      1
92    3148181 2012-01-18      0
93    3148181 2012-03-12      0
1816  3148181 2012-05-20      1
8     3148181 2012-09-10      0
1817  3148181 2012-09-12      1
1818  3148181 2012-09-24      1
1819  3148181 2012-11-01      1
1820  3148181 2012-11-05      1
1821  3148181 2012-12-01      1
1822  3148181 2013-01-06      1
1823  3148181 2013-01-11      1
1824  3148181 2013-01-11      1
1825  3148181 2013-01-28      1
1826  3148181 2013-02-26      1
1827  3148181 2013-02-26      1
1828  3148181 2013-02-26      1
1829  3148181 2013-03-01      1
1830  3148181 2013-03-04      1
1831  3148181 2013-03-05      1
1832  3148181 2013-03-12      1
1833  3148181 2013-03-18      1
1834  3148181 2013-04-08      1
1835  3148181 2013-04-22      1
1837  3148181 2013-05-01      1
1836  3148181 2013-05-01      1
94    3148181 2013-05-22      0
1838  3148181 2013-06-17      1
1839  3148181 2013-06-18      1
1840  3148181 2013-08-12      1
1841  3148181 2013-08-13      1
1842  3148181 2013-09-03      1
1843  3148181 2013-09-16      1
1844  3148181 2013-10-01      1
1845  3148181 2013-10-29      1
1846  3148181 2013-11-03      1
1847  3148181 2013-12-01      1
1848  3148181 2014-01-06      1
1849  3148181 2014-02-17      1
1850  3148181 2014-03-03      1
          mrn   enc_date  is_RM
1482  3085711 2011-03-29      1
1481  3085711 2011-03-29      1
1483  3085711 2011-08-02      1
1484  3085711 2011-08-09      1
1485  3085711 2011-12-06      1
1486  3085711 2012-03-27      1
1487  3085711 2012-08-13      1
1490  3085711 2012-08-23      1
1488  3085711 2012-08-23      1
1489  3085711 2012-08-23      1
1491  3085711 2012-09-26      1
1492  3085711 2012-10-09      1
1493  3085711 2012-10-10      1
1494  3085711 2012-10-12      1
1495  3085711 2012-10-23      1
1496  3085711 2012-10-24      1
1497  3085711 2012-10-26      1
1498  3085711 2012-10-30      1
1499  3085711 2012-11-06      1
1500  3085711 2012-11-07      1
1501  3085711 2012-11-08      1
1502  3085711 2012-11-09      1
1503  3085711 2012-11-20      1
1504  3085711 2012-11-21      1
1505  3085711 2012-11-22      1
1508  3085711 2012-12-04      1
16    3085711 2012-12-04      0
1507  3085711 2012-12-04      1
1506  3085711 2012-12-04      1
1509  3085711 2012-12-17      1
1510  3085711 2013-01-02      1
1511  3085711 2013-01-06      1
1512  3085711 2013-02-04      1
1513  3085711 2013-02-18      1
1514  3085711 2013-05-13      1
1515  3085711 2013-08-16      1
1516  3085711 2013-09-09      1
1517  3085711 2013-10-01      1
1518  3085711 2013-12-01      1
          mrn   enc_date  is_RM
13    1504532 2011-08-03      0
2015  1504532 2014-10-28      1
2016  1504532 2015-10-27      1
          mrn   enc_date  is_RM
95    3259252 2012-04-02      0
96    3259252 2012-07-13      0
2577  3259252 2012-09-05      1
2578  3259252 2012-09-06      1
2579  3259252 2012-09-07      1
...       ...        ...    ...
2698  3259252 2018-02-20      1
2699  3259252 2018-03-06      1
2700  3259252 2018-03-20      1
2701  3259252 2018-04-03      1
2702  3259252 2018-04-17      1

[131 rows x 3 columns]
          mrn   enc_date  is_RM
2921  3272590 2012-07-30      1
2922  3272590 2012-08-13      1
2923  3272590 2012-08-28      1
2924  3272590 2012-08-29      1
2925  3272590 2012-08-30      1
2926  3272590 2012-09-11      1
2927  3272590 2012-09-12      1
2928  3272590 2012-09-13      1
2929  3272590 2012-09-14      1
2930  3272590 2012-09-25      1
2931  3272590 2012-09-26      1
2932  3272590 2012-09-28      1
2934  3272590 2012-10-01      1
2935  3272590 2012-10-01      1
2933  3272590 2012-10-01      1
2936  3272590 2012-10-09      1
2937  3272590 2012-10-10      1
2938  3272590 2012-10-12      1
2939  3272590 2012-10-16      1
2940  3272590 2012-10-23      1
2941  3272590 2012-10-24      1
2942  3272590 2012-10-26      1
9     3272590 2012-10-26      0
2943  3272590 2012-11-26      1
2944  3272590 2013-01-07      1
2945  3272590 2013-03-08      1
2946  3272590 2013-06-24      1
2947  3272590 2013-10-04      1
2948  3272590 2014-07-21      1
2949  3272590 2015-03-16      1
2950  3272590 2015-10-12      1
2951  3272590 2016-11-15      1
2952  3272590 2016-12-02      1
2953  3272590 2016-12-30      1
2954  3272590 2017-01-02      1
          mrn   enc_date  is_RM
0     3260592 2012-08-16      0
2410  3260592 2014-03-13      1
2411  3260592 2014-03-25      1
2412  3260592 2014-04-15      1
2413  3260592 2014-04-21      1
          mrn   enc_date  is_RM
1719  2573707 2012-08-28      1
1720  2573707 2012-12-13      1
1721  2573707 2012-12-14      1
1722  2573707 2013-01-10      1
1723  2573707 2013-01-17      1
1724  2573707 2013-06-01      1
23    2573707 2013-06-20      0
1725  2573707 2013-12-12      1
1726  2573707 2014-04-23      1
1727  2573707 2014-10-22      1
1728  2573707 2014-10-23      1
1729  2573707 2015-04-22      1
1730  2573707 2016-04-20      1
          mrn   enc_date  is_RM
2190  3288379 2012-09-01      1
2191  3288379 2012-09-07      1
2193  3288379 2012-09-12      1
2192  3288379 2012-09-12      1
99    3288379 2012-10-01      0
2194  3288379 2013-01-14      1
2195  3288379 2013-01-31      1
2196  3288379 2013-07-01      1
2197  3288379 2013-09-16      1
2198  3288379 2013-09-19      1
2199  3288379 2013-10-02      1
2201  3288379 2013-11-12      1
2200  3288379 2013-11-12      1
2202  3288379 2013-11-13      1
2203  3288379 2013-12-27      1
2204  3288379 2014-01-10      1
          mrn   enc_date  is_RM
3039  3232866 2012-09-08      1
3040  3232866 2012-09-22      1
3041  3232866 2012-10-03      1
3042  3232866 2012-10-18      1
3043  3232866 2012-10-22      1
10    3232866 2012-10-23      0
3044  3232866 2012-11-13      1
3045  3232866 2012-12-03      1
3046  3232866 2012-12-09      1
3047  3232866 2012-12-18      1
3048  3232866 2013-01-14      1
3049  3232866 2013-05-13      1
3050  3232866 2013-09-09      1
3051  3232866 2013-12-26      1
3052  3232866 2014-03-03      1
3053  3232866 2015-03-16      1
3054  3232866 2015-05-04      1
3055  3232866 2015-09-29      1
3056  3232866 2015-11-04      1
3057  3232866 2015-11-23      1
3058  3232866 2015-11-27      1
3059  3232866 2015-12-10      1

          mrn   enc_date  is_RM
4642  3418273 2014-08-18      1
4643  3418273 2014-09-29      1
4644  3418273 2014-10-06      1
4645  3418273 2014-10-14      1
4646  3418273 2014-10-21      1
4647  3418273 2014-10-21      1
4648  3418273 2014-10-29      1
4649  3418273 2014-11-06      1
4650  3418273 2014-11-13      1
4651  3418273 2014-11-20      1
4652  3418273 2014-11-29      1
4653  3418273 2014-12-02      1
4654  3418273 2014-12-09      1
4655  3418273 2014-12-16      1
4656  3418273 2014-12-17      1
4657  3418273 2014-12-18      1
4658  3418273 2014-12-19      1
4659  3418273 2014-12-23      1
4660  3418273 2014-12-26      1
4661  3418273 2014-12-27      1
4662  3418273 2014-12-28      1
4663  3418273 2014-12-30      1
4664  3418273 2014-12-31      1
4665  3418273 2015-01-01      1
4666  3418273 2015-01-02      1
4667  3418273 2015-01-05      1
4668  3418273 2015-01-06      1
4669  3418273 2015-01-12      1
4670  3418273 2015-01-13      1
4671  3418273 2015-01-14      1
4672  3418273 2015-01-15      1
4673  3418273 2015-01-16      1
4674  3418273 2015-02-08      1
4675  3418273 2015-02-09      1
4676  3418273 2015-02-10      1
4677  3418273 2015-02-12      1
4678  3418273 2015-02-12      1
44    3418273 2015-02-13      0
4680  3418273 2015-02-13      1
4679  3418273 2015-02-13      1
4681  3418273 2015-02-14      1
4682  3418273 2015-02-15      1
4683  3418273 2015-02-16      1
4684  3418273 2015-02-17      1
4685  3418273 2015-02-18      1
4686  3418273 2015-02-19      1
4687  3418273 2015-02-20      1
4688  3418273 2015-02-21      1
4689  3418273 2015-02-22      1
4690  3418273 2015-03-03      1
4691  3418273 2015-03-13      1
4692  3418273 2015-03-15      1
4693  3418273 2015-04-14      1
4694  3418273 2015-06-23      1
4695  3418273 2015-07-13      1
4696  3418273 2016-01-12      1
          mrn   enc_date  is_RM
4140  3444300 2014-09-01      1
4141  3444300 2014-12-01      1
4142  3444300 2014-12-10      1
4143  3444300 2015-01-22      1
4144  3444300 2015-06-17      1
4145  3444300 2015-07-08      1
4146  3444300 2015-07-23      1
4147  3444300 2015-07-29      1
4148  3444300 2015-08-04      1
4149  3444300 2015-08-06      1
4150  3444300 2015-08-14      1
4151  3444300 2015-08-19      1
4152  3444300 2015-08-31      1
4153  3444300 2015-09-01      1
4154  3444300 2015-09-02      1
4155  3444300 2015-09-03      1
4156  3444300 2015-09-04      1
4157  3444300 2015-09-09      1
4158  3444300 2015-09-15      1
4159  3444300 2015-09-16      1
4160  3444300 2015-09-17      1
4161  3444300 2015-09-18      1
4162  3444300 2015-09-23      1
4163  3444300 2015-09-29      1
4164  3444300 2015-09-30      1
4165  3444300 2015-10-01      1
4166  3444300 2015-10-02      1
4167  3444300 2015-10-08      1
4168  3444300 2015-10-13      1
4169  3444300 2015-10-14      1
4170  3444300 2015-10-15      1
4171  3444300 2015-10-16      1
4172  3444300 2015-10-22      1
4173  3444300 2015-10-27      1
4174  3444300 2015-10-28      1
4175  3444300 2015-10-29      1
4178  3444300 2015-10-30      1
4177  3444300 2015-10-30      1
59    3444300 2015-10-30      0
4180  3444300 2015-10-30      1
4179  3444300 2015-10-30      1
4176  3444300 2015-10-30      1
4181  3444300 2015-11-05      1
4182  3444300 2015-11-11      1
4183  3444300 2015-11-22      1
4184  3444300 2015-12-02      1
4185  3444300 2015-12-02      1
4186  3444300 2015-12-30      1
4187  3444300 2016-03-30      1
4188  3444300 2016-07-06      1
4189  3444300 2016-10-19      1
          mrn   enc_date  is_RM
3800  3448959 2014-11-14      1
3801  3448959 2014-12-01      1
3802  3448959 2014-12-26      1
3803  3448959 2014-12-26      1
3804  3448959 2015-02-23      1
...       ...        ...    ...
3857  3448959 2016-05-03      1
3859  3448959 2016-05-19      1
3860  3448959 2016-06-08      1
3861  3448959 2016-07-05      1
3862  3448959 2016-08-07      1

[64 rows x 3 columns]
          mrn   enc_date  is_RM
41    3421057 2015-01-16      0
4750  3421057 2015-04-14      1
4754  3421057 2015-06-16      1
4753  3421057 2015-06-16      1
4752  3421057 2015-06-16      1
...       ...        ...    ...
4858  3421057 2016-07-26      1
4860  3421057 2016-08-07      1
4861  3421057 2016-10-04      1
4862  3421057 2016-12-15      1
4863  3421057 2016-12-16      1

[115 rows x 3 columns]
         mrn   enc_date  is_RM
221  3447609 2015-02-06      1
223  3447609 2015-02-24      1
222  3447609 2015-02-24      1
224  3447609 2015-03-15      1
225  3447609 2015-03-20      1
226  3447609 2015-03-31      1
227  3447609 2015-04-09      1
228  3447609 2015-04-16      1
229  3447609 2015-04-23      1
230  3447609 2015-05-12      1
231  3447609 2015-05-13      1
232  3447609 2015-05-14      1
233  3447609 2015-05-15      1
234  3447609 2015-05-20      1
235  3447609 2015-05-26      1
236  3447609 2015-05-27      1
237  3447609 2015-05-28      1
238  3447609 2015-05-29      1
239  3447609 2015-06-01      1
240  3447609 2015-06-09      1
241  3447609 2015-06-10      1
242  3447609 2015-06-11      1
243  3447609 2015-06-12      1
244  3447609 2015-06-17      1
245  3447609 2015-06-23      1
246  3447609 2015-06-24      1
247  3447609 2015-06-25      1
248  3447609 2015-06-26      1
249  3447609 2015-06-29      1
250  3447609 2015-07-07      1
251  3447609 2015-07-08      1
252  3447609 2015-07-08      1
253  3447609 2015-07-09      1
51   3447609 2015-07-10      0
254  3447609 2015-07-10      1
255  3447609 2015-07-10      1
256  3447609 2015-07-16      1
257  3447609 2015-08-02      1
258  3447609 2015-08-13      1
259  3447609 2015-08-18      1
260  3447609 2015-11-17      1
261  3447609 2016-03-22      1
262  3447609 2016-07-29      1
          mrn   enc_date  is_RM
46    3142993 2015-03-13      0
4300  3142993 2017-11-15      1
4301  3142993 2018-04-18      1
          mrn   enc_date  is_RM
3638  3324677 2015-04-01      1
3639  3324677 2015-05-01      1
3640  3324677 2016-02-18      1
3641  3324677 2016-02-25      1
3642  3324677 2016-03-01      1
3643  3324677 2016-03-01      1
3644  3324677 2016-03-08      1
3645  3324677 2016-03-21      1
3646  3324677 2016-03-28      1
3647  3324677 2016-04-05      1
3648  3324677 2016-04-06      1
3650  3324677 2016-04-07      1
3649  3324677 2016-04-07      1
3652  3324677 2016-04-11      1
3651  3324677 2016-04-11      1
3653  3324677 2016-04-18      1
3654  3324677 2016-04-25      1
3655  3324677 2016-05-03      1
3656  3324677 2016-05-06      1
3657  3324677 2016-05-09      1
3658  3324677 2016-05-09      1
3659  3324677 2016-05-11      1
3661  3324677 2016-05-16      1
3660  3324677 2016-05-16      1
3662  3324677 2016-05-24      1
3663  3324677 2016-05-25      1
3664  3324677 2016-05-26      1
3665  3324677 2016-05-27      1
3666  3324677 2016-06-01      1
3667  3324677 2016-06-05      1
3668  3324677 2016-06-06      1
3669  3324677 2016-06-07      1
3670  3324677 2016-06-08      1
3671  3324677 2016-06-09      1
3672  3324677 2016-06-10      1
3673  3324677 2016-06-11      1
3674  3324677 2016-06-12      1
3675  3324677 2016-06-13      1
3676  3324677 2016-06-14      1
3677  3324677 2016-06-15      1
3678  3324677 2016-06-16      1
3679  3324677 2016-06-21      1
3680  3324677 2016-06-22      1
3681  3324677 2016-06-23      1
3682  3324677 2016-06-24      1
3685  3324677 2016-06-24      1
3684  3324677 2016-06-24      1
77    3324677 2016-06-24      0
3683  3324677 2016-06-24      1
3686  3324677 2016-06-28      1
3687  3324677 2016-06-29      1
3688  3324677 2016-06-30      1
3689  3324677 2016-07-01      1
3690  3324677 2016-07-02      1
3691  3324677 2016-07-06      1
3692  3324677 2016-07-17      1
3693  3324677 2016-07-20      1
3694  3324677 2016-08-22      1
3695  3324677 2016-09-23      1
          mrn   enc_date  is_RM
48    3327545 2015-04-17      0
5008  3327545 2017-01-11      1
5009  3327545 2017-12-13      1
          mrn   enc_date  is_RM
5114  3453332 2015-06-05      1
5113  3453332 2015-06-05      1
5115  3453332 2015-06-14      1
5116  3453332 2015-06-17      1
5117  3453332 2015-06-17      1
5118  3453332 2015-06-24      1
5119  3453332 2015-06-28      1
5120  3453332 2015-06-30      1
5122  3453332 2015-07-01      1
5121  3453332 2015-07-01      1
5123  3453332 2015-07-01      1
5124  3453332 2015-07-02      1
5125  3453332 2015-07-03      1
5126  3453332 2015-07-07      1
5127  3453332 2015-07-09      1
5128  3453332 2015-07-10      1
5129  3453332 2015-07-14      1
5130  3453332 2015-07-15      1
5131  3453332 2015-07-16      1
5132  3453332 2015-07-17      1
5133  3453332 2015-07-18      1
5134  3453332 2015-07-19      1
5135  3453332 2015-07-20      1
5136  3453332 2015-07-21      1
5137  3453332 2015-07-22      1
5138  3453332 2015-07-23      1
5139  3453332 2015-07-24      1
5140  3453332 2015-07-28      1
5141  3453332 2015-07-29      1
5142  3453332 2015-07-30      1
5145  3453332 2015-07-31      1
5144  3453332 2015-07-31      1
5143  3453332 2015-07-31      1
5147  3453332 2015-08-01      1
5146  3453332 2015-08-01      1
52    3453332 2015-08-03      0
5148  3453332 2015-08-06      1
5149  3453332 2015-08-19      1
5150  3453332 2015-09-07      1
5151  3453332 2015-09-09      1
5152  3453332 2015-09-18      1
5153  3453332 2016-03-02      1
5154  3453332 2016-04-06      1
5155  3453332 2016-07-27      1
5156  3453332 2017-03-22      1
5157  3453332 2017-09-20      1
5158  3453332 2018-04-18      1
         mrn   enc_date  is_RM
5     852008 2015-06-29      0
5389  852008 2015-10-13      1
5390  852008 2015-10-20      1
5391  852008 2015-10-21      1
5392  852008 2015-10-22      1
5397  852008 2015-10-23      1
5395  852008 2015-10-23      1
5394  852008 2015-10-23      1
5393  852008 2015-10-23      1
56    852008 2015-10-23      0
5396  852008 2015-10-23      1
5398  852008 2015-11-02      1
5399  852008 2015-11-05      1
5400  852008 2015-11-15      1
5401  852008 2015-11-17      1
5402  852008 2015-11-24      1
5403  852008 2015-12-07      1
5404  852008 2015-12-07      1
5405  852008 2015-12-14      1
5406  852008 2016-01-02      1
5407  852008 2016-01-27      1
5408  852008 2016-02-23      1
5409  852008 2016-05-24      1
          mrn   enc_date  is_RM
4444  3480615 2015-07-31      1
4446  3480615 2015-08-07      1
4445  3480615 2015-08-07      1
4447  3480615 2015-08-07      1
4448  3480615 2015-08-07      1
4449  3480615 2015-08-14      1
4450  3480615 2015-09-02      1
4451  3480615 2015-09-10      1
4452  3480615 2015-09-14      1
4453  3480615 2015-09-20      1
4454  3480615 2015-09-27      1
4455  3480615 2015-10-04      1
4456  3480615 2015-10-09      1
4457  3480615 2015-10-09      1
4458  3480615 2015-10-13      1
4459  3480615 2015-11-15      1
4460  3480615 2015-11-20      1
4461  3480615 2015-11-20      1
57    3480615 2015-11-20      0
4462  3480615 2015-11-20      1
4463  3480615 2015-12-03      1
4464  3480615 2015-12-14      1
4465  3480615 2015-12-19      1
4466  3480615 2016-01-11      1
4467  3480615 2016-01-26      1
4468  3480615 2016-04-26      1
4469  3480615 2016-11-04      1
          mrn   enc_date  is_RM
2029  3497403 2015-08-01      1
2030  3497403 2015-10-01      1
2031  3497403 2015-10-15      1
2032  3497403 2015-10-15      1
2033  3497403 2015-10-15      1
2034  3497403 2015-10-15      1
2036  3497403 2015-10-22      1
2035  3497403 2015-10-22      1
2037  3497403 2015-11-01      1
2038  3497403 2015-11-03      1
2039  3497403 2015-11-11      1
2040  3497403 2015-11-20      1
2041  3497403 2015-11-23      1
2042  3497403 2015-12-02      1
2043  3497403 2015-12-14      1
2044  3497403 2015-12-19      1
2046  3497403 2015-12-30      1
2045  3497403 2015-12-30      1
2047  3497403 2016-01-06      1
2048  3497403 2016-01-13      1
2049  3497403 2016-01-15      1
2050  3497403 2016-01-24      1
2051  3497403 2016-01-26      1
2052  3497403 2016-01-27      1
2053  3497403 2016-01-28      1
2055  3497403 2016-01-29      1
2054  3497403 2016-01-29      1
2056  3497403 2016-01-30      1
2057  3497403 2016-02-01      1
2058  3497403 2016-02-01      1
2059  3497403 2016-02-04      1
2060  3497403 2016-02-09      1
2061  3497403 2016-02-10      1
2062  3497403 2016-02-11      1
2063  3497403 2016-02-12      1
2064  3497403 2016-02-23      1
2065  3497403 2016-02-24      1
2066  3497403 2016-02-25      1
2067  3497403 2016-02-26      1
62    3497403 2016-02-26      0
2068  3497403 2016-02-26      1
2069  3497403 2016-02-26      1
2070  3497403 2016-02-26      1
2071  3497403 2016-03-02      1
2072  3497403 2016-03-11      1
2074  3497403 2016-03-30      1
2073  3497403 2016-03-30      1
2075  3497403 2016-04-07      1
2076  3497403 2016-05-11      1
2077  3497403 2016-08-10      1
2078  3497403 2016-12-28      1
2079  3497403 2017-09-27      1
2080  3497403 2018-10-31      1
          mrn   enc_date  is_RM
5493  2910738 2015-09-01      1
5494  2910738 2015-09-30      1
5495  2910738 2015-10-09      1
5496  2910738 2015-10-11      1
5497  2910738 2015-10-20      1
5498  2910738 2015-10-22      1
5499  2910738 2015-10-28      1
5500  2910738 2015-11-08      1
5501  2910738 2015-11-15      1
5502  2910738 2015-11-22      1
5504  2910738 2015-12-02      1
5503  2910738 2015-12-02      1
5505  2910738 2015-12-15      1
5506  2910738 2015-12-16      1
5507  2910738 2015-12-21      1
5508  2910738 2015-12-22      1
5509  2910738 2015-12-23      1
5511  2910738 2015-12-24      1
5510  2910738 2015-12-24      1
5512  2910738 2015-12-25      1
5513  2910738 2015-12-26      1
5514  2910738 2016-01-04      1
5515  2910738 2016-01-05      1
5516  2910738 2016-01-06      1
5517  2910738 2016-01-07      1
5518  2910738 2016-01-08      1
5519  2910738 2016-01-13      1
5520  2910738 2016-01-19      1
5521  2910738 2016-01-20      1
5522  2910738 2016-01-21      1
5525  2910738 2016-01-22      1
68    2910738 2016-01-22      0
5523  2910738 2016-01-22      1
5524  2910738 2016-01-22      1
5526  2910738 2016-01-27      1
5527  2910738 2016-02-01      1
5528  2910738 2016-02-03      1
5529  2910738 2016-02-04      1
5531  2910738 2016-02-17      1
5530  2910738 2016-02-17      1
5532  2910738 2016-02-25      1
5533  2910738 2016-03-02      1
5534  2910738 2016-04-13      1
5535  2910738 2016-05-24      1
5536  2910738 2016-08-24      1
5537  2910738 2016-11-09      1
5538  2910738 2016-12-22      1
5539  2910738 2017-05-31      1
5540  2910738 2018-06-18      1
          mrn   enc_date  is_RM
4476  3546446 2015-09-28      1
4477  3546446 2015-09-28      1
4479  3546446 2015-10-01      1
4478  3546446 2015-10-01      1
4480  3546446 2015-10-07      1
...       ...        ...    ...
4638  3546446 2018-06-29      1
4637  3546446 2018-06-29      1
4639  3546446 2018-08-04      1
4640  3546446 2018-09-21      1
4641  3546446 2018-12-17      1

[167 rows x 3 columns]
          mrn   enc_date  is_RM
5312  3503434 2015-10-07      1
5313  3503434 2015-10-07      1
5314  3503434 2015-11-06      1
5315  3503434 2015-11-17      1
5316  3503434 2015-11-25      1
5317  3503434 2015-11-25      1
5318  3503434 2015-12-09      1
5319  3503434 2015-12-19      1
5320  3503434 2016-01-03      1
5321  3503434 2016-01-10      1
5322  3503434 2016-01-17      1
5323  3503434 2016-01-20      1
5324  3503434 2016-03-02      1
5325  3503434 2016-03-08      1
5326  3503434 2016-03-09      1
5327  3503434 2016-03-10      1
5328  3503434 2016-03-11      1
5329  3503434 2016-03-22      1
5330  3503434 2016-03-23      1
5331  3503434 2016-03-24      1
5332  3503434 2016-03-25      1
5333  3503434 2016-03-30      1
5334  3503434 2016-04-05      1
5335  3503434 2016-04-06      1
5336  3503434 2016-04-07      1
5337  3503434 2016-04-08      1
5338  3503434 2016-04-13      1
5339  3503434 2016-04-19      1
5340  3503434 2016-04-20      1
5341  3503434 2016-04-21      1
5342  3503434 2016-04-22      1
5343  3503434 2016-04-27      1
5344  3503434 2016-05-03      1
65    3503434 2016-05-04      0
5345  3503434 2016-05-04      1
5346  3503434 2016-05-04      1
5347  3503434 2016-05-04      1
5348  3503434 2016-05-04      1
5349  3503434 2016-05-04      1
5350  3503434 2016-05-11      1
5351  3503434 2016-05-18      1
5352  3503434 2016-06-01      1
5353  3503434 2016-06-01      1
5354  3503434 2016-06-15      1
5355  3503434 2016-06-15      1
5356  3503434 2016-07-13      1
5357  3503434 2016-08-28      1
5358  3503434 2016-12-07      1
5359  3503434 2017-03-08      1
5360  3503434 2017-05-17      1
5361  3503434 2019-07-23      1
          mrn   enc_date  is_RM
4872  3497326 2015-10-26      1
4873  3497326 2015-10-28      1
4874  3497326 2015-10-30      1
4875  3497326 2015-11-01      1
4876  3497326 2015-11-12      1
4877  3497326 2015-11-16      1
4878  3497326 2015-11-22      1
4879  3497326 2015-11-27      1
4880  3497326 2015-12-02      1
4881  3497326 2015-12-14      1
4882  3497326 2015-12-20      1
4884  3497326 2015-12-23      1
4883  3497326 2015-12-23      1
4885  3497326 2015-12-30      1
4886  3497326 2016-01-04      1
4887  3497326 2016-02-03      1
61    3497326 2016-02-05      0
4888  3497326 2016-02-05      1
4889  3497326 2016-02-05      1
4890  3497326 2016-02-05      1
4891  3497326 2016-03-04      1
4892  3497326 2016-03-30      1
4893  3497326 2016-03-30      1
4894  3497326 2016-04-20      1
4895  3497326 2016-05-20      1
4896  3497326 2016-06-09      1
4897  3497326 2016-07-20      1
4898  3497326 2016-10-01      1
4899  3497326 2016-11-16      1
4900  3497326 2017-12-06      1
4901  3497326 2018-08-01      1
4902  3497326 2018-12-12      1
          mrn   enc_date  is_RM
5934  3317572 2015-10-30      1
5935  3317572 2015-11-04      1
5936  3317572 2015-11-05      1
5937  3317572 2015-11-18      1
5938  3317572 2015-11-20      1
5939  3317572 2015-11-27      1
5940  3317572 2015-12-04      1
5941  3317572 2015-12-18      1
5942  3317572 2015-12-18      1
5943  3317572 2016-01-10      1
5944  3317572 2016-01-15      1
5945  3317572 2016-01-17      1
5946  3317572 2016-01-19      1
5947  3317572 2016-01-20      1
5948  3317572 2016-01-21      1
5949  3317572 2016-01-22      1
5950  3317572 2016-01-26      1
5951  3317572 2016-02-02      1
5952  3317572 2016-02-03      1
5953  3317572 2016-02-04      1
5954  3317572 2016-02-05      1
5955  3317572 2016-02-11      1
5956  3317572 2016-02-16      1
5957  3317572 2016-02-17      1
5958  3317572 2016-02-18      1
5959  3317572 2016-02-19      1
63    3317572 2016-02-19      0
5962  3317572 2016-02-19      1
5961  3317572 2016-02-19      1
5960  3317572 2016-02-19      1
5963  3317572 2016-02-23      1
5964  3317572 2016-02-29      1
5965  3317572 2016-03-08      1
5966  3317572 2016-03-15      1
5967  3317572 2016-03-22      1
5968  3317572 2016-04-26      1
5969  3317572 2016-07-26      1
          mrn   enc_date  is_RM
5875  3503535 2015-11-11      1
5876  3503535 2015-11-19      1
5877  3503535 2015-11-25      1
5878  3503535 2015-12-09      1
5879  3503535 2015-12-15      1
5880  3503535 2015-12-19      1
5881  3503535 2015-12-24      1
5882  3503535 2016-01-04      1
5883  3503535 2016-01-13      1
5884  3503535 2016-01-15      1
5886  3503535 2016-01-27      1
5885  3503535 2016-01-27      1
5887  3503535 2016-02-03      1
5888  3503535 2016-02-07      1
5889  3503535 2016-02-10      1
5890  3503535 2016-02-14      1
5891  3503535 2016-02-16      1
5892  3503535 2016-02-17      1
5893  3503535 2016-02-18      1
5894  3503535 2016-02-19      1
5895  3503535 2016-02-24      1
5896  3503535 2016-03-01      1
5897  3503535 2016-03-02      1
5898  3503535 2016-03-03      1
5899  3503535 2016-03-04      1
5900  3503535 2016-03-09      1
5901  3503535 2016-03-14      1
5902  3503535 2016-03-15      1
5903  3503535 2016-03-16      1
5904  3503535 2016-03-17      1
5905  3503535 2016-03-18      1
5906  3503535 2016-03-23      1
5907  3503535 2016-03-29      1
5908  3503535 2016-03-30      1
5909  3503535 2016-03-31      1
5911  3503535 2016-04-01      1
5910  3503535 2016-04-01      1
5912  3503535 2016-04-06      1
5913  3503535 2016-04-12      1

In [133]:
def trim_df(df):
    df=df.reset_index(drop=True)
    if df.iloc[0]['is_RM']==1:
        keep_going=True
        i=0
        for index,row in df.iterrows():
            if row['is_RM']==0 and keep_going:
                i=index
                keep_going=False
        df_to_return=df.iloc[i:]
        return df_to_return
    else:
        return df
for index,ptx in enumerate(ptx_info):
    ptx_info[index]=trim_df(ptx)
    ptx_info[index]=ptx_info[index].drop_duplicates(keep='first',subset='enc_date')
    #print (ptx_info[index])

def fillforward(df):
    if df.iloc[0]['is_RM']==0:
        states=[]
        for index,row in df.iterrows():
            keep_going=True
            if row['is_RM']==0 and keep_going:
                states.append(0)
            elif row['is_RM']==1 and keep_going:
                states.append(1)
                keep_going=False
            else:
                states.append(1)
        df['is_RM']=states
        return df
    else:
        return df
df_rebuilt=''
has_started=False
for index,ptx in enumerate(ptx_info):
    ptx_info[index]=fillforward(ptx)
    
    try:
        first_entry=ptx_info[index].iloc[0]['enc_date']
        second_entry=ptx_info[index].iloc[1]['enc_date']
        diff=(second_entry-first_entry).days
    except:
        diff=0
    
    flag=True
    if diff<14:
        flag=False
    if flag:
        print (ptx_info[index])
    if not has_started and flag==True:
        df_rebuilt=ptx_info[index]
        has_started=True
    elif flag==True:
        df_rebuilt=df_rebuilt.append(ptx_info[index])
df_rebuilt=df_rebuilt[['enc_date','mrn','is_RM']]
df_rebuilt.columns=['date_of_service_dttm','mrn','is_RM']
df_rebuilt=df_rebuilt.set_index('date_of_service_dttm')
df_rebuilt.to_csv("RM_MCs_rad.csv")
print (df_rebuilt.shape[0])

        mrn   enc_date  is_RM
10  2714226 2007-02-21      0
11  2714226 2007-04-23      0
12  2714226 2007-05-01      1
14  2714226 2009-08-01      1
15  2714226 2009-08-12      0
16  2714226 2012-11-12      0
17  2714226 2012-12-03      1
18  2714226 2012-12-24      1
19  2714226 2012-12-26      1
20  2714226 2012-12-27      1
21  2714226 2012-12-28      1
22  2714226 2013-01-08      1
23  2714226 2013-01-09      1
24  2714226 2013-01-10      1
25  2714226 2013-01-11      1
26  2714226 2013-01-22      1
27  2714226 2013-01-23      1
28  2714226 2013-01-24      1
29  2714226 2013-01-25      1
30  2714226 2013-02-05      1
31  2714226 2013-02-06      1
32  2714226 2013-02-07      1
33  2714226 2013-02-08      1
34  2714226 2013-02-15      1
35  2714226 2013-02-19      1
36  2714226 2013-02-20      1
37  2714226 2013-02-21      1
38  2714226 2013-02-22      1
41  2714226 2013-02-25      1
42  2714226 2013-03-11      1
43  2714226 2013-03-25      1
44  2714226 2013-04-12      1
45  2714226 2013-06-14      1
        mrn   enc_date  is_RM
31  2209904 2016-11-11      0
34  2209904 2016-12-14      1
35  2209904 2016-12-15      1
36  2209904 2017-01-12      1
37  2209904 2017-02-14      1
38  2209904 2017-09-26      1
39  2209904 2017-09-28      1
40  2209904 2018-04-17      1
41  2209904 2018-06-18      1
        mrn   enc_date  is_RM
0   2840501 2003-11-01      0
1   2840501 2014-11-12      1
2   2840501 2014-11-17      1
3   2840501 2014-12-12      1
4   2840501 2014-12-17      1
5   2840501 2014-12-29      1
6   2840501 2015-01-13      1
7   2840501 2015-01-21      1
8   2840501 2015-02-03      1
10  2840501 2015-03-04      1
11  2840501 2015-03-18      1
12  2840501 2015-03-24      1
13  2840501 2015-04-07      1
14  2840501 2015-04-14      1
15  2840501 2015-04-21      1
16  2840501 2015-05-01      1
17  2840501 2015-05-04      1
18  2840501 2015-05-08      1
20  2840501 2015-05-21      1
21  2840501 2015-05-22      1
22  2840501 2015-06-01      1
23  2840501 2015-06-12      1
24  2840501 2015-06-19      1
25  2840501 2015-07-22      1
26  2840501 2015-09-01      1
27  2840501 2015-09-25      1
28  2840501 2015-12-01      1
29  2840501 2015-12-28      1
30  2840501 2016-01-21      1
31  2840501 2016-01-27      1
32  2840501 2016-02-16      1
33  2840501 2016-04-06      1
        mrn   enc_date  is_RM
0   1566343 2005-12-29      0
1   1566343 2006-01-25      0
2   1566343 2012-08-11      1
3   1566343 2012-08-27      1
4   1566343 2012-09-03      1
5   1566343 2012-10-09      1
6   1566343 2012-10-15      1
7   1566343 2012-11-26      1
8   1566343 2012-12-03      1
9   1566343 2012-12-06      1
10  1566343 2012-12-19      1
11  1566343 2013-01-28      1
12  1566343 2013-02-11      1
13  1566343 2013-02-26      1
14  1566343 2013-03-11      1
15  1566343 2013-05-06      1
16  1566343 2013-06-17      1
17  1566343 2013-07-08      1
18  1566343 2013-07-23      1
19  1566343 2013-07-29      1
20  1566343 2013-09-11      1
21  1566343 2013-09-23      1
22  1566343 2013-11-03      1
23  1566343 2013-11-19      1
       mrn   enc_date  is_RM
1  2849915 2007-01-02      0
2  2849915 2007-07-01      1
3  2849915 2012-10-23      1
4  2849915 2013-10-15      1
5  2849915 2014-11-05      1
        mrn   enc_date  is_RM
0   1420705 2007-03-26      0
1   1420705 2009-10-28      1
2   1420705 2009-11-01      1
3   1420705 2010-02-01      1
4   1420705 2011-05-01      1
5   1420705 2011-09-01      1
6   1420705 2011-10-01      1
7   1420705 2012-01-01      1
8   1420705 2012-01-12      1
9   1420705 2012-02-24      1
10  1420705 2012-03-01      1
11  1420705 2012-06-07      1
       mrn   enc_date  is_RM
0  3054505 2008-12-31      0
1  3054505 2010-07-07      0
3  3054505 2012-08-21      1
4  3054505 2013-02-25      1
5  3054505 2013-02-27      0
6  3054505 2013-09-12      1
7  3054505 2013-09-13      1
8  3054505 2014-07-18      1
9  3054505 2015-11-03      1
        mrn   enc_date  is_RM
39  2933746 2014-05-30      0
41  2933746 2014-10-08      1
42  2933746 2014-10-10      1
        mrn   enc_date  is_RM
0   3028615 2010-03-03      0
1   3028615 2010-04-07      0
2   3028615 2011-07-06      0
3   3028615 2011-08-24      0
4   3028615 2012-02-08      0
5   3028615 2012-11-08      0
6   3028615 2013-04-17      0
7   3028615 2013-05-22      0
8   3028615 2013-07-26      1
9   3028615 2014-04-02      0
10  3028615 2016-11-17      0
12  3028615 2017-05-09      1
13  3028615 2017-06-09      1
14  3028615 2017-07-03      0
18  3028615 2017-08-25      1
19  3028615 2017-08-28      0
20  3028615 2017-08-31      1
22  3028615 2017-09-25      1
25  3028615 2017-10-17      1
26  3028615 2017-11-06      1
27  3028615 2017-11-28      1
28  3028615 2018-01-08      1
29  3028615 2018-01-30      1
30  3028615 2018-02-20      1
31  3028615 2018-02-26      1
32  3028615 2018-04-03      1
33  3028615 2018-04-24      1
34  3028615 2018-05-04      1
35  3028615 2018-05-15      1
36  3028615 2018-06-05      1
37  3028615 2018-06-13      1
38  3028615 2018-07-19      1
39  3028615 2018-08-14      1
40  3028615 2018-09-10      1
44  3028615 2018-09-18      1
45  3028615 2018-09-25      1
46  3028615 2018-10-09      1
47  3028615 2018-10-30      1
48  3028615 2018-12-11      1
49  3028615 2019-01-02      1
50  3028615 2019-02-04      0
51  3028615 2019-05-20      0
        mrn   enc_date  is_RM
5   3148181 2012-01-18      0
6   3148181 2012-03-12      0
7   3148181 2012-05-20      1
8   3148181 2012-09-10      0
9   3148181 2012-09-12      1
10  3148181 2012-09-24      1
11  3148181 2012-11-01      1
12  3148181 2012-11-05      1
13  3148181 2012-12-01      1
14  3148181 2013-01-06      1
15  3148181 2013-01-11      1
17  3148181 2013-01-28      1
18  3148181 2013-02-26      1
21  3148181 2013-03-01      1
22  3148181 2013-03-04      1
23  3148181 2013-03-05      1
24  3148181 2013-03-12      1
25  3148181 2013-03-18      1
26  3148181 2013-04-08      1
27  3148181 2013-04-22      1
28  3148181 2013-05-01      1
30  3148181 2013-05-22      0
31  3148181 2013-06-17      1
32  3148181 2013-06-18      1
33  3148181 2013-08-12      1
34  3148181 2013-08-13      1
35  3148181 2013-09-03      1
36  3148181 2013-09-16      1
37  3148181 2013-10-01      1
38  3148181 2013-10-29      1
39  3148181 2013-11-03      1
40  3148181 2013-12-01      1
41  3148181 2014-01-06      1
42  3148181 2014-02-17      1
43  3148181 2014-03-03      1
       mrn   enc_date  is_RM
0  1504532 2011-08-03      0
1  1504532 2014-10-28      1
2  1504532 2015-10-27      1
         mrn   enc_date  is_RM
0    3259252 2012-04-02      0
1    3259252 2012-07-13      0
2    3259252 2012-09-05      1
3    3259252 2012-09-06      1
4    3259252 2012-09-07      1
..       ...        ...    ...
126  3259252 2018-02-20      1
127  3259252 2018-03-06      1
128  3259252 2018-03-20      1
129  3259252 2018-04-03      1
130  3259252 2018-04-17      1

[113 rows x 3 columns]
        mrn   enc_date  is_RM
22  3272590 2012-10-26      0
23  3272590 2012-11-26      1
24  3272590 2013-01-07      1
25  3272590 2013-03-08      1
26  3272590 2013-06-24      1
27  3272590 2013-10-04      1
28  3272590 2014-07-21      1
29  3272590 2015-03-16      1
30  3272590 2015-10-12      1
31  3272590 2016-11-15      1
32  3272590 2016-12-02      1
33  3272590 2016-12-30      1
34  3272590 2017-01-02      1
       mrn   enc_date  is_RM
0  3260592 2012-08-16      0
1  3260592 2014-03-13      1
2  3260592 2014-03-25      1
3  3260592 2014-04-15      1
4  3260592 2014-04-21      1
        mrn   enc_date  is_RM
6   2573707 2013-06-20      0
7   2573707 2013-12-12      1
8   2573707 2014-04-23      1
9   2573707 2014-10-22      1
10  2573707 2014-10-23      1
11  2573707 2015-04-22      1
12  2573707 2016-04-20      1
        mrn   enc_date  is_RM
4   3288379 2012-10-01      0
5   3288379 2013-01-14      1
6   3288379 2013-01-31      1
7   3288379 2013-07-01      1
8   3288379 2013-09-16      1
9   3288379 2013-09-19      1
10  3288379 2013-10-02      1
11  3288379 2013-11-12      1
13  3288379 2013-11-13      1
14  3288379 2013-12-27      1
15  3288379 2014-01-10      1
        mrn   enc_date  is_RM
5   3232866 2012-10-23      0
6   3232866 2012-11-13      1
7   3232866 2012-12-03      1
8   3232866 2012-12-09      1
9   3232866 2012-12-18      1
10  3232866 2013-01-14      1
11  3232866 2013-05-13      1
12  3232866 2013-09-09      1
13  3232866 2013-12-26      1
14  3232866 2014-03-03      1
15  3232866 2015-03-16      1
16  3232866 2015-05-04      1
17  3232866 2015-09-29      1
18  3232866 2015-11-04      1
19  3232866 2015-11-23      1
20  3232866 2015-11-27      1
21  3232866 2015-12-10      1
22  3232866 2015-12-18      1
23  3232866 2016-01-05      1
24  3232866 2016-01-21      1
25  3232866 2016-01-28      1
26  3232866 2016-02-07      1
27  3232866 2016-02-18      1
28  3232866 2016-03-08      1
29  3232866 2016-03-20      1
30  3232866 2016-03-31      1
31  3232866 2016-04-06      1
32  3232866 2016-04-14      1
33  3232866 2016-04-25      1
34  3232866 2016-05-02      1
35  3232866 2016-05-12      1
36  3232866 2016-05-18      1
37  3232866 2016-05-27      1
38  3232866 2016-06-24      1
39  3232866 2016-07-22      1
40  3232866 2016-10-07      1
41  3232866 2016-12-02      1
42  3232866 2017-01-06      1
        mrn   enc_date  is_RM
0   3276187 2012-09-21      0
1   3276187 2013-12-03      1
2   3276187 2013-12-16      1
3   3276187 2014-02-04      1
4   3276187 2014-02-16      1
5   3276187 2014-03-04      1
7   3276187 2014-03-19      1
8   3276187 2014-03-31      1
9   3276187 2014-04-02      1
10  3276187 2014-04-04      1
11  3276187 2014-04-23      1
12  3276187 2014-06-17      1
13  3276187 2014-07-01      1
15  3276187 2014-07-15      1
20  3276187 2014-07-16      1
21  3276187 2014-07-17      1
22  3276187 2014-07-29      1
24  3276187 2014-08-12      1
25  3276187 2014-08-13      1
26  3276187 2014-08-26      1
27  3276187 2014-08-27      1
28  3276187 2014-09-03      1
30  3276187 2014-09-09      1
35  3276187 2014-09-23      1
37  3276187 2014-10-07      1
40  3276187 2014-10-08      1
41  3276187 2014-10-10      1
42  3276187 2014-10-17      1
43  3276187 2014-10-21      1
44  3276187 2014-10-24      1
46  3276187 2014-10-31      1
47  3276187 2014-11-11      1
49  3276187 2014-12-02      1
50  3276187 2015-01-06      1
        mrn   enc_date  is_RM
0   3279359 2012-12-07      0
1   3279359 2013-02-15      1
2   3279359 2013-02-25      1
3   3279359 2013-07-02      1
4   3279359 2013-07-16      1
5   3279359 2013-07-26      1
6   3279359 2013-09-06      1
7   3279359 2013-12-09      1
8   3279359 2014-02-14      1
9   3279359 2014-02-28      1
10  3279359 2014-05-16      1
11  3279359 2014-07-07      1
12  3279359 2014-07-11      1
13  3279359 2014-07-31      1
14  3279359 2014-08-21      1
15  3279359 2014-09-09      1
16  3279359 2014-09-30      1
17  3279359 2014-10-21      1
18  3279359 2014-11-11      1
19  3279359 2014-12-18      1
20  3279359 2015-11-01      1
21  3279359 2016-09-01      1
22  3279359 2017-01-20      1
23  3279359 2017-02-27      1
24  3279359 2018-04-06      1
27  3279359 2018-04-12      1
28  3279359 2018-04-20      1
29  3279359 2018-05-23      1
30  3279359 2018-06-14      1
31  3279359 2018-08-06      1
32  3279359 2018-08-13      1
33  3279359 2018-08-14      1
34  3279359 2018-08-27      1
35  3279359 2018-09-01      1
36  3279359 2018-09-26      1
38  3279359 2018-10-13      1
        mrn   enc_date  is_RM
0   3301890 2012-12-10      0
1   3301890 2013-03-08      0
2   3301890 2013-09-01      1
4   3301890 2013-09-09      1
7   3301890 2013-10-01      1
9   3301890 2013-10-28      1
10  3301890 2013-11-03      1
11  3301890 2013-11-05      1
12  3301890 2013-12-01      1
13  3301890 2013-12-11      1
14  3301890 2014-08-01      1
16  3301890 2014-09-09      1
17  3301890 2014-10-08      1
18  3301890 2014-10-26      1
19  3301890 2014-11-01      1
20  3301890 2015-02-01      1
22  3301890 2015-03-01      1
23  3301890 2015-03-02      1
24  3301890 2015-04-14      1
25  3301890 2015-04-21      1
26  3301890 2015-06-01      1
27  3301890 2015-06-16      1
28  3301890 2102-12-01      1
        mrn   enc_date  is_RM
0   3261049 2012-12-17      0
1   3261049 2013-01-11      1
2   3261049 2013-03-25      1
3   3261049 2013-03-26      1
4   3261049 2013-03-27      1
5   3261049 2013-03-28      1
6   3261049 2013-03-29      1
7   3261049 2013-04-17      1
8   3261049 2013-05-22      1
9   3261049 2013-08-14      1
10  3261049 2013-08-16      1

        mrn   enc_date  is_RM
24  3382952 2014-06-06      0
26  3382952 2014-07-22      1
27  3382952 2014-10-01      1
28  3382952 2014-10-28      1
29  3382952 2015-01-01      1
30  3382952 2015-01-16      1
31  3382952 2015-02-01      1
33  3382952 2015-02-10      1
34  3382952 2015-03-23      1
36  3382952 2015-04-06      1
37  3382952 2015-05-22      1
38  3382952 2015-06-16      1
39  3382952 2015-06-30      1
40  3382952 2015-07-07      1
41  3382952 2015-07-22      1
42  3382952 2015-07-28      1
44  3382952 2015-09-11      1
        mrn   enc_date  is_RM
0   2050963 2014-07-08      0
1   2050963 2014-10-01      1
2   2050963 2014-10-16      1
3   2050963 2015-01-14      1
4   2050963 2015-01-15      1
5   2050963 2015-01-30      1
6   2050963 2015-03-13      1
8   2050963 2015-06-25      1
9   2050963 2015-09-01      1
10  2050963 2015-09-11      1
12  2050963 2015-10-01      1
13  2050963 2015-10-02      1
14  2050963 2015-10-21      1
15  2050963 2015-10-25      1
16  2050963 2015-11-05      1
17  2050963 2015-11-09      1
18  2050963 2015-11-18      1
19  2050963 2015-11-20      1
20  2050963 2015-12-01      1
21  2050963 2015-12-11      1
22  2050963 2016-01-19      1
23  2050963 2016-01-20      1
24  2050963 2016-02-08      1
25  2050963 2016-03-02      1
26  2050963 2016-03-04      1
         mrn   enc_date  is_RM
0    3421057 2015-01-16      0
1    3421057 2015-04-14      1
2    3421057 2015-06-16      1
6    3421057 2015-06-22      1
7    3421057 2015-06-24      1
8    3421057 2015-06-26      1
9    3421057 2015-06-30      1
10   3421057 2015-07-10      1
12   3421057 2015-07-27      1
13   3421057 2015-08-01      1
14   3421057 2015-08-09      1
15   3421057 2015-08-21      1
16   3421057 2015-09-03      1
17   3421057 2015-10-12      1
27   3421057 2015-10-13      1
28   3421057 2015-10-15      1
29   3421057 2015-10-24      1
31   3421057 2015-10-25      1
54   3421057 2015-10-26      1
57   3421057 2015-10-27      1
59   3421057 2015-10-28      1
61   3421057 2015-11-24      1
67   3421057 2015-11-27      1
74   3421057 2015-12-15      1
75   3421057 2016-01-03      1
76   3421057 2016-01-04      1
77   3421057 2016-01-05      1
78   3421057 2016-01-17      1
79   3421057 2016-02-01      1
80   3421057 2016-02-07      1
81   3421057 2016-02-09      1
82   3421057 2016-02-16      1
83   3421057 2016-02-28      1
84   3421057 2016-03-02      1
85   3421057 2016-03-08      1
86   3421057 2016-03-22      1
87   3421057 2016-03-31      1
88   3421057 2016-04-10      1
89   3421057 2016-04-12      1
90   3421057 2016-04-20      1
91   3421057 2016-04-29      1
92   3421057 2016-05-04      1
93   3421057 2016-05-10      1
94   3421057 2016-05-30      1
95   3421057 2016-06-06      1
96   3421057 2016-06-19      1
97   3421057 2016-06-20      1
99   3421057 2016-06-21      1
100  3421057 2016-06-28      1
102  3421057 2016-07-04      1
103  3421057 2016-07-05      1
105  3421057 2016-07-20      1
108  3421057 2016-07-26      1
111  3421057 2016-08-07      1
112  3421057 2016-10-04      1
113  3421057 2016-12-15      1
114  3421057 2016-12-16      1
       mrn   enc_date  is_RM
0  3142993 2015-03-13      0
1  3142993 2017-11-15      1
2  3142993 2018-04-18      1
       mrn   enc_date  is_RM
0  3327545 2015-04-17      0
1  3327545 2017-01-11      1
2  3327545 2017-12-13      1
       mrn   enc_date  is_RM
0   852008 2015-06-29      0
1   852008 2015-10-13      1
2   852008 2015-10-20      1
3   852008 2015-10-21      1
4   852008 2015-10-22      1
5   852008 2015-10-23      1
11  852008 2015-11-02      1
12  852008 2015-11-05      1
13  852008 2015-11-15      1
14  852008 2015-11-17      1
15  852008 2015-11-24      1
16  852008 2015-12-07      1
18  852008 2015-12-14      1
19  852008 2016-01-02      1
20  852008 2016-01-27      1
21  852008 2016-02-23      1
22  852008 2016-05-24      1
         mrn   enc_date  is_RM
55   3546446 2016-12-16      0
58   3546446 2017-01-01      1
61   3546446 2017-01-20      1
97   3546446 2017-01-25      1
100  3546446 2017-01-26      1
101  3546446 2017-07-01      1
102  3546446 2017-07-19      1
137  3546446 2017-08-02      1
138  3546446 2017-11-29      1
141  3546446 2017-12-01      1
142  3546446 2018-01-17      1
147  3546446 2018-01-18      1
150  3546446 2018-01-22      1
151  3546446 2018-01-24      1
152  3546446 2018-01-27      1
153  3546446 2018-01-30      1
154  3546446 2018-02-01      1
155  3546446 2018-02-08      1
157  3546446 2018-03-02      1
158  3546446 2018-03-11      1
159  3546446 2018-04-05      1
160  3546446 2018-05-03      1
161  3546446 2018-06-02      1
162  3546446 2018-06-29      1
164  3546446 2018-08-04      1
165  3546446 2018-09-21      1
166  3546446 2018-12-17      1
        mrn   enc_date  is_RM
16  3497326 2016-02-05      0
20  3497326 2016-03-04      1
21  3497326 2016-03-30      1
23  3497326 2016-04-20      1
24  3497326 2016-05-20      1
25  3497326 2016-06-09      1
26  3497326 2016-07-20      1
27  3497326 2016-10-01      1
28  3497326 2016-11-16      1
29  3497326 2017-12-06      1
30  3497326 2018-08-01      1
31  3497326 2018-12-12      1
       mrn   enc_date  is_RM
0  3506201 2016-03-25      0
1  3506201 2016-04-27      1
2  3506201 2016-07-27      1
3  3506201 2017-01-25      1
4  3506201 2018-11-04      1
        mrn   enc_date  is_RM
46  3567685 2017-02-03      0
48  3567685 2017-03-06      1
49  3567685 2017-03-07      1
50  3567685 2017-03-24      1
51  3567685 2017-04-07      1
52  3567685 2017-05-05      1
53  3567685 2017-05-09      1
54  3567685 2017-05-19      1
55  3567685 2017-06-01      1
57  3567685 2017-06-23      1
58  3567685 2017-06-24      1
59  3567685 2017-06-25      1
60  3567685 2017-06-26      1
61  3567685 2017-07-31      1
62  3567685 2017-09-01      1
63  3567685 2017-09-06      1
64  3567685 2017-09-08      1
        mrn   enc_date  is_RM
20  3542051 2016-10-21      0
23  3542051 2016-11-23      1
24  3542051 2016-11-28      1
25  3542051 2017-01-05      1
26  3542051 2017-09-20      1
27  3542051 2018-06-13      1
28  3542051 2018-10-17      1
29  3542051 2019-07-23      1
        mrn   enc_date  is_RM
24  2929012 2016-09-16      0
27  2929012 2016-10-21      1
28  2929012 2017-01-01      1
29  2929012 2017-01-20      1
30  2929012 2017-04-21      1
        mrn   enc_date  is_RM
9   3539092 2016-08-26      0
10  3539092 2016-09-30      1
11  3539092 2016-10-01      1
12  3539092 2016-10-07      1
13  3539092 2017-01-06      1
14  3539092 2017-04-21      1
15  3539092 2018-01-01      1
16  3539092 2018-01-17      1
17  3539092 2018-08-22      1
        mrn   enc_date  is_RM
21  3580291 2017-03-02      0
22  3580291 2017-03-24      1
23  3580291 2017-03-31      1
24  3580291 2017-04-05      1
25  3580291 2017-05-03      1
        mrn   enc_date  is_RM
18  3581974 2017-02-10      0
19  3581974 2017-03-30      1
20  3581974 2017-05-24      1
21  3581974 2019-07-23      1
        mrn   enc_date  is_RM
20  1390547 2017-02-17      0
21  1390547 2017-03-22      1
22  1390547 2017-03-29      1
23  1390547 2017-05-03      1
24  1390547 2017-06-30      1
       mrn   enc_date  is_RM
2  3581525 2017-03-10      0
3  3581525 2017-04-05      1
4  3581525 2017-06-14      1
5  3581525 2017-12-27      1
       mrn   enc_date  is_RM
0  3555469 2017-01-13      0
1  3555469 2018-01-03      1
       mrn   enc_date  is_RM
0  3755407 2018-07-27      0
1  3755407 2018-11-27      1
2  3755407 2019-12-04      1
3  3755407 2019-12-05      1
4  3755407 2019-12-06      1
728