In [1]:
import pandas as pd
import numpy as np

df_demo=pd.read_csv('RM Demo.csv')
df_demo

,mrn,pt_name,gender,race,ethnicity,date_of_birth,date_of_death
0,218087,"Kingsbury, Ronald",M,White,Not Hispanic or Latino,1939-04-13,NaN
1,218644,"Paske, Michael",M,White,Not Hispanic or Latino,1939-04-20,2010-12-16
2,255332,"Lucas, Joseph",M,White,Not Hispanic or Latino,1939-12-14,2013-12-19
3,263405,"Machura, Frank",M,White,Not Hispanic or Latino,1941-05-23,NaN
4,296701,"Rones, Chris",M,White,Not Hispanic or Latino,1926-11-25,NaN
...,...,...,...,...,...,...,...
2659,3940931,"Marlow, William",M,White,Not Hispanic or Latino,1935-03-23,NaN
2660,3942512,"Vaidya, Hemant",M,Asian/Mideast Indian,Not Hispanic or Latino,1963-12-05,NaN
2661,3943567,"McRae, Colin",M,White,Not Hispanic or Latino,1943-06-28,NaN
2662,3944945,"Wayco, James",M,White,Not Hispanic or Latino,1968-01-02,NaN
2663,3946799,"Burns, Edward",M,Unknown,Unknown,1945-02-22,NaN

In [2]:
df_alcohol=pd.read_csv('RM_EtOH.csv')
print(df_alcohol.columns)
df_alcohol=df_alcohol[['mrn','drinks_per_week']]

df=df_demo.merge(df_alcohol,on='mrn',how='outer')
print (df.dropna(subset=['drinks_per_week']))

Index(['mrn', 'HX_DRINKS_WK_1', 'HX_DRINKS_WK_2', 'HX_DRINKS_WK_3',
       'drinks_per_week', 'high_risk'],
      dtype='object')
          mrn                pt_name gender                    race  \
7      475506         Strong, Eileen      F                   White
26     746451     Ulivieri, Michelle      F                   White
57     962764       Griffin, Russell      M  Black/African-American
60     970932     Stallworth, Jerome      M  Black/African-American
71    1020909        Adams, Rapheres      M  Black/African-American
...       ...                    ...    ...                     ...
2592  3891151  Holloway, Christopher      M                   White
2600  3899778         Carano, Rhonda      F                   White
2605  3901462        Rickard, Jordan      M                   White
2608  3902511            Cahan, Dawn      F                   White
2634  3920960           Roman, Brian      M                   White

                   ethnicity date_of_birth date_of_death  drinks_per_week
7     Not Hispanic or Latino    1939-08-24           NaN              4.0
26    Not Hispanic or Latino    1959-11-17           NaN              1.0
57    Not Hispanic or Latino    1946-09-06           NaN             21.0
60    Not Hispanic or Latino    1943-03-18           NaN              2.0
71    Not Hispanic or Latino    1941-02-22           NaN              0.0
...                      ...           ...           ...              ...
2592  Not Hispanic or Latino    1953-06-23           NaN              7.0
2600  Not Hispanic or Latino    1954-01-11           NaN             10.5
2605  Not Hispanic or Latino    1982-02-15           NaN              2.0
2608  Not Hispanic or Latino    1963-05-20           NaN             26.5
2634  Not Hispanic or Latino    1975-05-10           NaN              8.0

[301 rows x 8 columns]

In [3]:
df_tobacco=pd.read_csv('RM_tobacco.csv')
print(df_tobacco.columns)
df_tobacco=df_tobacco[['mrn','TOBACCO_USER','pack_years']]

df=df.merge(df_tobacco,on='mrn',how='outer')
print(df.dropna(subset=['TOBACCO_USER']))

Index(['mrn', 'TOBACCO_USER', 'SMOKING_TOB_USE', 'TOBACCO_PAK_PER_DY',
       'TOBACCO_USED_YEARS', 'TOBACCO_COMMENT', 'has_used', 'pack_years'],
      dtype='object')
          mrn            pt_name gender                    race  \
0      218087  Kingsbury, Ronald      M                   White
3      263405     Machura, Frank      M                   White
7      475506     Strong, Eileen      F                   White
12     586116      Ford, Kenneth      M  Black/African-American
13     606048    Doumel, Charles      M                   White
...       ...                ...    ...                     ...
2641  3927288         Bakk, Alex      M                   White
2644  3930895  Hasbrouck, Leslie      F                   White
2653  3936416    Leuser, Patrick      M                   White
2655  3938435     Riordan, Vicki      F                   White
2659  3940931    Marlow, William      M                   White

                   ethnicity date_of_birth date_of_death  drinks_per_week  \
0     Not Hispanic or Latino    1939-04-13           NaN              NaN
3     Not Hispanic or Latino    1941-05-23           NaN              NaN
7     Not Hispanic or Latino    1939-08-24           NaN              4.0
12    Not Hispanic or Latino    1934-11-19           NaN              NaN
13    Not Hispanic or Latino    1952-12-16    2012-10-10              NaN
...                      ...           ...           ...              ...
2641  Not Hispanic or Latino    1951-08-09           NaN              NaN
2644  Not Hispanic or Latino    1967-01-13           NaN              NaN
2653  Not Hispanic or Latino    1962-10-07           NaN              NaN
2655  Not Hispanic or Latino    1952-05-22           NaN              NaN
2659  Not Hispanic or Latino    1935-03-23           NaN              NaN

     TOBACCO_USER  pack_years
0            Quit        20.0
3             Yes        68.0
7           Never         NaN
12          Never         NaN
13          Never         NaN
...           ...         ...
2641        Never         NaN
2644         Quit         NaN
2653          Yes         NaN
2655         Quit         NaN
2659         Quit         NaN

[1670 rows x 10 columns]

In [4]:
df_stage_and_TNM=pd.read_csv('RM Staging.csv')
print(df_stage_and_TNM.columns)

df=df.merge(df_stage_and_TNM,on='mrn',how='outer')

print(df.dropna(subset=['Stage']))

Index(['mrn', 'Stage', 'TNM', 'T', 'N', 'M'], dtype='object')
          mrn            pt_name gender                    race  \
0      218087  Kingsbury, Ronald      M                   White
3      263405     Machura, Frank      M                   White
7      475506     Strong, Eileen      F                   White
8      532702   Washlow, Richard      M                   White
14     616321  Readus, Setrennia      F  Black/African-American
...       ...                ...    ...                     ...
2636  3922614       Tariq, Atiur      M                   White
2637  3923797  Rothermel, Robert      M                   White
2641  3927288         Bakk, Alex      M                   White
2654  3937382      Silleck, Joan      F                   White
2655  3938435     Riordan, Vicki      F                   White

                   ethnicity date_of_birth date_of_death  drinks_per_week  \
0     Not Hispanic or Latino    1939-04-13           NaN              NaN
3     Not Hispanic or Latino    1941-05-23           NaN              NaN
7     Not Hispanic or Latino    1939-08-24           NaN              4.0
8     Not Hispanic or Latino    1947-07-27    2011-12-03              NaN
14    Not Hispanic or Latino    1932-08-26           NaN              NaN
...                      ...           ...           ...              ...
2636  Not Hispanic or Latino    1949-12-14           NaN              NaN
2637  Not Hispanic or Latino    1970-06-05           NaN              NaN
2641  Not Hispanic or Latino    1951-08-09           NaN              NaN
2654  Not Hispanic or Latino    1934-06-02           NaN              NaN
2655  Not Hispanic or Latino    1952-05-22           NaN              NaN

     TOBACCO_USER  pack_years Stage        TNM  T   N    M
0            Quit        20.0   IVA  T4 N2b M0  4  2B    0
3             Yes        68.0   III      T3N1   3   1  NaN
7           Never         NaN   III    pT2N1a   2  1A  NaN
8             NaN         NaN   III      T3N1   3   1  NaN
14           Quit       100.0   III       T3N0  3   0  NaN
...           ...         ...   ...        ... ..  ..  ...
2636          NaN         NaN   IVA    T3N2bM0  3  2B    0
2637          NaN         NaN     I     cT1N0   1   0  NaN
2641        Never         NaN    II       T4N0  4   0  NaN
2654          NaN         NaN   IVA     T4N2b   4  2B  NaN
2655         Quit         NaN   III     pT3N0   3   0  NaN

[1155 rows x 15 columns]

In [5]:
df_nar=pd.read_csv('RM_narrative.csv',error_bad_lines=False)
print (df_nar.columns)
df=df.merge(df_nar,on='mrn',how='outer')

print(df.dropna(subset=['Dx_']))

Index(['mrn', 'narrative', 'Dx_'], dtype='object')
          mrn            pt_name gender                    race  \
42     852008      Martin, David      M  Black/African-American
100   1261329    Butler, Vernell      M  Black/African-American
114   1390547      Burks, Brenda      F  Black/African-American
119   1420705       Smith, Betty      F  Black/African-American
131   1504532  Finnegan, Michael      M                   White
...       ...                ...    ...                     ...
2470  3767186          Koob, Don      M                   White
2474  3769590      Vasys, Arunas      M                   White
2476  3772040    Sullivan, Barry      M                   White
2499  3793494    Uelman, William      M                   White
2507  3797673     Sherman, Barry      M                   White

                   ethnicity date_of_birth date_of_death  drinks_per_week  \
42    Not Hispanic or Latino    1952-02-10           NaN              NaN
100   Not Hispanic or Latino    1974-04-15           NaN              1.0
114   Not Hispanic or Latino    1959-09-01           NaN              NaN
119   Not Hispanic or Latino    1947-10-31    2012-08-09              NaN
131   Not Hispanic or Latino    1953-03-31           NaN              NaN
...                      ...           ...           ...              ...
2470  Not Hispanic or Latino    1957-01-25           NaN              2.0
2474  Not Hispanic or Latino    1943-08-18           NaN              NaN
2476  Not Hispanic or Latino    1947-05-30           NaN              NaN
2499  Not Hispanic or Latino    1949-08-12           NaN              NaN
2507  Not Hispanic or Latino    1944-04-04    2018-11-30              NaN

     TOBACCO_USER  pack_years Stage       TNM   T   N    M  \
42            NaN         NaN   IVA    T3N2b    3  2B  NaN
100           Yes        20.0   NaN    T4NxM0   4   X    0
114          Quit        35.0   IVA  cT1N2bM0   1  2B    0
119          Quit        40.0   IVA     T4N1    4   1  NaN
131          Quit        15.0   IVB  T4a N4b   4A  4B  NaN
...           ...         ...   ...       ...  ..  ..  ...
2470         Quit         NaN   IVA   T3N2bM0   3  2B    0
2474         Quit        75.0   III     T2N1    2   1  NaN
2476         Quit        70.0   III      T2N1   2   1  NaN
2499        Never         NaN   III   cT3N1M0   3   1    0
2507        Never         NaN   IVA   T2N2cM0   2  2C    0

                                              narrative  \
42    2015-04-01:\tApril 2015: developed sore throat...
100   2007-07-01:\tIn the summer of 2007. |2008-01-0...
114   2016-10-21:\tPt is a 57Yrs old female w/ |2016...
119   2009-10-28:\t10/28/09 seen for newly diagnosed...
131   2011-04-16:\tCRT on IRB 10069 completed 4/16/2...
...                                                 ...
2470  2017-12-01:\tEnd of Dec 2017 -- felt like "pie...
2474  2018-04-01:\t4/2018: Presented with strange se...
2476  2018-04-01:\t4/2018: Noticed a right neck mass...
2499  2018-07-13:\tHe went for 2nd opinion at Rush a...
2507  2016-07-01:\tThe tumor cells are positive for ...

                                                    Dx_
42                          ['HNC', 'SCC', 'carcinoma']
100   ['tumor', 'cancer', 'T4NxM0 squamous cell carc...
114   ['SCC', 'HNC', 'viable carcinoma', 'Oropharyng...
119                ['SCC', 'metastatic adenocarcinoma']
131                                             ['HNC']
...                                                 ...
2470  ['SCC', 'tumor', 'neck cancer', 'tonsil cancer...
2474  ['SCC', 'Cancer', 'squamous cell carcinoma', '...
2476  ['right tonsillar cancer', 'squamous cell carc...
2499  ['SCC', 'Oropharyngeal cancer', 'squamous cell...
2507                 ['SCC', 'squamous cell carcinoma']

[171 rows x 17 columns]

In [6]:
# df_auto=pd.read_csv('RM_auto_info.csv',error_bad_lines=False)
# print (df_auto.columns)
# df=df.merge(df_auto,on='mrn',how='outer')

# print(df.dropna(subset=['RM_flag']))

In [7]:
df_dxs=pd.read_csv('RM_Diagnoses.csv',error_bad_lines=False)
print (df_dxs.columns)
df=df.merge(df_dxs,on='mrn',how='outer')

print(df[['Dx_','primary_diagnoses']].dropna(subset=['Dx_']))

Index(['mrn', 'date_of_primary_diagnosis', 'primary_diagnoses',
       'secondary_diagnoses'],
      dtype='object')
                                                    Dx_  \
42                          ['HNC', 'SCC', 'carcinoma']
100   ['tumor', 'cancer', 'T4NxM0 squamous cell carc...
114   ['SCC', 'HNC', 'viable carcinoma', 'Oropharyng...
119                ['SCC', 'metastatic adenocarcinoma']
131                                             ['HNC']
...                                                 ...
2470  ['SCC', 'tumor', 'neck cancer', 'tonsil cancer...
2474  ['SCC', 'Cancer', 'squamous cell carcinoma', '...
2476  ['right tonsillar cancer', 'squamous cell carc...
2499  ['SCC', 'Oropharyngeal cancer', 'squamous cell...
2507                 ['SCC', 'squamous cell carcinoma']

                                      primary_diagnoses
42    2015-06-23: MALIGNANT NEOPLASM OF TONSIL|2015-...
100   2007-09-07: MALIGNANT NEOPLASM OF MAXILLARY SI...
114   2016-10-18: MALIGNANT NEOPLASM OF TONSIL, UNSP...
119   2005-10-18: MALIGNANT NEOPLASM OF LARYNX UNSPE...
131   2010-12-10: MALIGNANT NEOPLASM OF TONSIL|2010-...
...                                                 ...
2470  2018-05-04: MALIGNANT NEOPLASM OF TONSIL, UNSP...
2474  2018-05-15: MALIGNANT NEOPLASM OF BASE OF TONG...
2476  2018-05-23: MALIGNANT NEOPLASM OF TONSIL, UNSP...
2499  2018-08-14: MALIGNANT NEOPLASM OF TONSIL, UNSP...
2507  2018-08-29: MALIGNANT NEOPLASM OF BASE OF TONG...

[171 rows x 2 columns]

In [8]:
# df_val=pd.read_csv('RM_validated_info.csv',error_bad_lines=False)
# print (df_val.columns)
# df=df.merge(df_val,on='mrn',how='outer')

# print(df[['RM_date_','Date of Progression']].dropna(subset=['RM_date_','Date of Progression']))

In [9]:
df_HPV=pd.read_csv('RM_HPV.csv',error_bad_lines=False)
print (df_HPV.columns)
df=df.merge(df_HPV,on='mrn',how='outer')

print(df[df['HPV_status']!=2].dropna(subset=['HPV_status']))

Index(['mrn', 'HPV_status'], dtype='object')
          mrn             pt_name gender                    race  \
25     737506      Mitchell, Eric      M  Black/African-American
42     852008       Martin, David      M  Black/African-American
60     970932  Stallworth, Jerome      M  Black/African-American
70    1012616      Tobin, William      M                   White
96    1245597   Harrington, Maxim      M  Black/African-American
...       ...                 ...    ...                     ...
2687  1873071                 NaN    NaN                     NaN
2688  3752533                 NaN    NaN                     NaN
2689  2630128                 NaN    NaN                     NaN
2690  3757628                 NaN    NaN                     NaN
2691  3034289                 NaN    NaN                     NaN

                   ethnicity date_of_birth date_of_death  drinks_per_week  \
25    Not Hispanic or Latino    1950-04-20           NaN              NaN
42    Not Hispanic or Latino    1952-02-10           NaN              NaN
60    Not Hispanic or Latino    1943-03-18           NaN              2.0
70    Not Hispanic or Latino    1946-10-05           NaN              NaN
96    Not Hispanic or Latino    1958-02-11    2012-10-02              NaN
...                      ...           ...           ...              ...
2687                     NaN           NaN           NaN              NaN
2688                     NaN           NaN           NaN              NaN
2689                     NaN           NaN           NaN              NaN
2690                     NaN           NaN           NaN              NaN
2691                     NaN           NaN           NaN              NaN

     TOBACCO_USER  pack_years  ...      TNM    T    N    M  \
25          Never         NaN  ...    T2N2     2    2  NaN
42            NaN         NaN  ...   T3N2b     3   2B  NaN
60           Quit        50.0  ...   T1N0M0    1    0    0
70           Quit        42.0  ...      NaN  NaN  NaN  NaN
96            Yes         7.5  ...  T4 N2C     4   2C  NaN
...           ...         ...  ...      ...  ...  ...  ...
2687          NaN         NaN  ...      NaN  NaN  NaN  NaN
2688          NaN         NaN  ...      NaN  NaN  NaN  NaN
2689          NaN         NaN  ...      NaN  NaN  NaN  NaN
2690          NaN         NaN  ...      NaN  NaN  NaN  NaN
2691          NaN         NaN  ...      NaN  NaN  NaN  NaN

                                              narrative  \
25                                                  NaN
42    2015-04-01:\tApril 2015: developed sore throat...
60                                                  NaN
70                                                  NaN
96                                                  NaN
...                                                 ...
2687                                                NaN
2688                                                NaN
2689                                                NaN
2690                                                NaN
2691                                                NaN

                              Dx_ date_of_primary_diagnosis  \
25                            NaN                2008-02-14
42    ['HNC', 'SCC', 'carcinoma']                2015-06-23
60                            NaN                2011-05-10
70                            NaN                2010-11-11
96                            NaN                2008-09-17
...                           ...                       ...
2687                          NaN                       NaN
2688                          NaN                       NaN
2689                          NaN                       NaN
2690                          NaN                       NaN
2691                          NaN                       NaN

                                      primary_diagnoses  \
25    2008-02-14: MALIGNANT NEOPLASM OF BASE OF TONG...
42    2015-06-23: MALIGNANT NEOPLASM OF TONSIL|2015-...
60    2011-05-10: MALIGNANT NEOPLASM OF LARYNX UNSPE...
70    2010-11-11: MALIGNANT NEOPLASM OF PROSTATE|201...
96    2008-09-17: MALIGNANT NEOPLASM OF SOFT PALATE|...
...                                                 ...
2687                                                NaN
2688                                                NaN
2689                                                NaN
2690                                                NaN
2691                                                NaN

                                    secondary_diagnoses HPV_status
25    2008-03-18: MALIGNANT NEOPLASM OF TONGUE UNSPE...        0.0
42    2015-09-10: SECONDARY AND UNSPECIFIED MALIGNAN...        1.0
60    2011-07-26: MALIGNANT NEOPLASM OF PHARYNX UNSP...        0.0
70    2013-02-19: MALIGNANT NEOPLASM OF HEAD FACE AN...        0.0
96    2008-09-17: SECONDARY AND UNSPECIFIED MALIGNAN...        0.0
...                                                 ...        ...
2687                                                NaN        1.0
2688                                                NaN        1.0
2689                                                NaN        1.0
2690                                                NaN        1.0
2691                                                NaN        1.0

[319 rows x 21 columns]

In [10]:
### export df
df.to_csv('RM_Database.csv',index=False)